@charset "UTF-8";

.header_top, .header_title{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

/************헤더************/
header{
  width: 100%;
  background-color: #4f7e9b;
  background-color: #014b8a;
}
#header_top{
  display: flex;
  justify-content: space-between;
}
#header_top h1{

}
#header_top h1 a{
  color: #fff;
  line-height: 78px;
  font-family: 'Fall in love';
  font-size: 40px;
}
#header_top nav.top_menu{
  font-family: 'MICEGothic Bold';
}
#header_top nav.top_menu ul{
  display: flex;
  height: 100%;
  line-height: 78px;
}
#header_top nav.top_menu ul li{
  margin-left: 20px;
  color: #fff;
}
#header_top nav.top_menu ul li:last-child{
  border: none;
}
#header_top nav.top_menu ul li a{
  border-right: 2px solid #fff;
  padding-right: 20px;
}

/************헤더 타이틀************/
#header_title{

}
#header_title img{
  width: 100%;
}
#header_title .text{

}
#header_title .text h2{ 
  position: absolute;
  top: 160px;
  font-size: 108px;
  color: #fff;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Fall in love';
  letter-spacing: 10px;
}
#header_title .text p{
  position: absolute;
  top: 379px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 14px;
  font-family: 'fall in love';
  letter-spacing: 3px;
}

/**************네비게이션 바*************/
#gnb{
  position: relative;
  font-family: 'MICEGothic Bold';
}
#gnb >div{
  height: 50px;
  background: #e0e0e0;
  text-align: center;
}
#gnb ul{
  display:inline-block;
  overflow:hidden;
}
#gnb ul li{
  float: left;
}
#gnb ul li a{
  display: inline-block;
  margin: 0 20px;
  line-height: 50px;
  color: #6d6968;
}
#gnb ul li a:hover{
  color: #000f08;
}
#gnb li:hover a:after{
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #4f7e9b;
  margin-top: -5px;
}

main{
  position: relative;
}
/***********섹션 1 ITEMS***********/
#items {
  height: 500px;
  width: 100%;
  position: relative;
}
#items .inner{

}
#items .inner h3{
  font-size: 26px;
  position: absolute;
  top: -64px;
  color: #2d2d2d;
}
#items .inner h3:after{
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #4f7e9b;
}
#items .inner ul {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
#items .inner ul li {
  text-align: center;
}
#items .inner ul li:hover{
  cursor: pointer;
}
#items .inner ul li img {
  box-shadow: 3px 3px 10px #bbb;
}
#items .inner ul li img:hover{
  transform: scale(1.03);
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
}
#items .inner ul li p.item_name {
  font-size: 20px;
  font-family: "Cantata One";
  margin: 20px 0;
  text-shadow: 2px 2px 5px #bbb;
}
#items .inner ul li p.detail {
  font-family: 'MICEGothic Bold';
  font-size: 15px;
  font-weight: 200;
}
#items .inner ul li p.price {
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
}

/***********섹션 2 ICONS***********/
#icons {
  width: 100%;
  background-color: #a0c1d5;
  height: 300px;
  position: relative;
}
#icons .inner {
  height: 100%;
}
#icons .inner ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#icons .inner ul li {

}
#icons .inner ul li:hover{
  transform: translateY(-5px);
}
#icons .inner ul li:hover img{
}
#icons .inner ul li a {
  text-align: center;
}
#icons .inner ul li a img {
  filter: drop-shadow(0px 0px 5px #fff);
}
#icons .inner ul li a p{
  margin-top: 30px;
  font-size: 19px;
  color: #111;
  text-shadow: 0 0 5px #fff;
}
#icons .inner ul li:hover a:after{
  display: block;
  content: "";
  height: 5px;
  background-color: #4f7e9b;
  margin-top: 7px;
}
/***********섹션 3 RINGS ***********/
#rings {
  width: 100%;
  height: 500px;
  position: relative;
}
#rings .inner {
  margin-top: 100px;
}
#rings .inner h3{
  font-size: 26px;
  position: absolute;
  top: -64px;
  color: #2d2d2d;
}
#rings .inner h3:after{
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #4f7e9b;
}
#rings .inner ul {
  display: flex;
  justify-content: space-between;
}
#rings .inner ul li {
  text-align: center;
}
#rings .inner ul li:nth-of-type(1) img{
    filter: brightness(1.08);
}
#rings .inner ul li:nth-of-type(2) img{
    filter: brightness(1.05);
}
#rings .inner ul li:nth-of-type(3) img{
  filter: brightness(1.14);
}
#rings .inner ul li:nth-of-type(4) img{
  filter: brightness(1.15);
}
#rings .inner ul li img {
  box-shadow: 2px 2px 6px #bbb;
}
#rings .inner ul li img:hover{
  transform: scale(1.03);
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
}

#rings .inner ul li p.item_name {
  font-size: 20px;
  font-family: "Cantata One";
  margin: 20px 0;
  text-shadow: 2px 2px 5px #bbb;
}
#rings .inner ul li p.detail {
  font-weight: 200;
  font-family: 'MICEGothic Bold';
  font-size: 15px;
}
#rings .inner ul li p.price {
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
}

/***********섹션 4 SAPPHIRE***********/
#sapphire {
  background-color: #eeeeee;
  height: 500px;
  position: relative;
}
#sapphire .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
#sapphire .inner img {

  height: 424px;
}
#sapphire .inner .text{
  margin: 0 60px;
  width: 663px;
}
#sapphire .inner .text p.title {
  font-size: 48px;
  margin: 22px auto;
  text-align: center;
  font-family: 'fall in love';
  line-height: 1.5;
}
#sapphire .inner .text p.title span{
  font-size: 50px
}
#sapphire .inner .text p.detail { 
  line-height: 1.5;
  font-family: 'MICEGothic Bold';
  font-size: 20px;
  margin: 0 17px;
}
#sapphire .inner .text p span{
  color: #014b8a;
}
#sapphire .inner .text p.detail span:first-child{
  font-size: 22px;
}

/***********섹션 5 BRAND***********/
#brand {
  position: relative;

  width: 100%;
  height: 330px;
  background-color: #0f68a0;

}
#brand .inner {

}
#brand .inner ul {
  display: flex;
  justify-content: space-around;
  padding: 33px 0;
}
#brand .inner ul li {
  font-family: 'MICEGothic Bold';
  text-align: center;
  color: #fff;
}
#brand .inner ul li p.title {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 2px #dad9d9;
  font-family: 'MICEGothic Bold';
  margin-top: 20px;
}
#brand .inner ul li a{

}
#brand .inner ul li a p{
  line-height: 2;
  font-size: 16px;
  font-family: 'MICEGothic Bold';
}
#brand .inner ul li a p:hover{
  text-shadow: 1px 1px 2px #dad9d9;
}
#brand .inner ul li .sns {

  /*! margin: 0 10px; */
}
#brand .inner ul li .sns a{
  margin-right: 20px;
  font-size: 30px;
  line-height: 1.5;
}
#brand .inner ul li .sns a:nth-child(3){
  margin: 0;
}
#brand .inner ul li .sns a:nth-child(1):hover{
  color: #c13584;
  text-shadow: 1px 1px 2px #c13584;
}
#brand .inner ul li .sns a:nth-child(2):hover{
  color: #1da1f2;
}
#brand .inner ul li .sns a:nth-child(3):hover{
  color: #4064ac;
  -webkit-text-stroke: 2px #fff;

}
#brand .inner ul li .sns a:nth-child(4):hover{
  color: #f60002;
}
#brand .inner ul li .sns a:nth-child(5):hover{
  color: red;
}
#brand .inner ul li .sns a:nth-child(6):hover{
  color: #df0022;
  -webkit-text-stroke: 1px #df0022;
}
#brand .inner ul li .sns a i{

}

/***********푸터***********/
footer{
  width: 100%;
  height: 84px;
  background-color: #014b8a;
  position: relative;
}
footer .inner{
  display: flex;
  justify-content: space-between;
  color: #fff;
  line-height: 84px;
}
footer .inner .left{
  display: flex;
  font-family: 'MICEGothic Bold';
}
footer .inner .left p{
  margin-right: 30px;
  font-family: 'MICEGothic Bold';
}
footer .inner .left a{
  color: #e1e1e1d4;
}
footer .inner .right{

}
footer .inner .right p{
  font-family: 'MICEGothic Bold';
}